body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    margin-top: 50px;
}

textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    margin-top: 10px;
}

h2 {
    margin-top: 20px;
}
